service: pr-size
frameworkVersion: '3'
useDotenv: true

provider:
  name: aws
  runtime: nodejs16.x
  environment:
    APP_ID: ${env:APP_ID}
    PRIVATE_KEY: ${env:PRIVATE_KEY}
    WEBHOOK_SECRET: ${env:WEBHOOK_SECRET}
    NODE_ENV: production
    LOG_LEVEL: debug

functions:
  webhooks:
    name: pr-size
    handler: src/handler.webhooks
    events:
      - httpApi:
          path: /api/github/webhooks
          method: post

package:
  patterns:
    - '!tests/**'
    - '!coverage/**'
    - '!.github/**'
    - '!*.pem'
