org: noqcks
app: pr-size
service: pr-size
frameworkVersion: '3'
useDotenv: true

provider:
  name: aws
  runtime: nodejs18.x
  environment:
    APP_ID: ${env:APP_ID}
    PRIVATE_KEY: ${env:PRIVATE_KEY}
    WEBHOOK_SECRET: ${env:WEBHOOK_SECRET}
    NODE_ENV: production
    LOG_LEVEL: info
    SENTRY_DSN: https://390c9d912ff048649882442625c3aa7d@o4504364806176768.ingest.sentry.io/4504364812795904

functions:
  webhooks:
    name: pr-size
    handler: src/handler.webhooks
    timeout: 25
    memorySize: 256
    events:
      - httpApi:
          path: /api/github/webhooks
          method: post

package:
  patterns:
    - '!tests/**'
    - '!coverage/**'
    - '!.github/**'
    - '!*.pem'
